<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Welcome page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <br><br><br>
  <h5 class="title1">
    Welcome To
  </h5>
  <h1 class="title2">
    <b>Pokedex</b>
  </h1>
  <br><br>
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6934273a-9e15-4547-ad85-38e162633665/dbtcj8f-a5214c60-6a61-483d-be6c-8657937d428e.png/v1/fill/w_1280,h_720,strp/rotom_dex__by_theadorableoshawott_dbtcj8f-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNjkzNDI3M2EtOWUxNS00NTQ3LWFkODUtMzhlMTYyNjMzNjY1XC9kYnRjajhmLWE1MjE0YzYwLTZhNjEtNDgzZC1iZTZjLTg2NTc5MzdkNDI4ZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kohKX60dbqx3LIt6cMvv1X2pOcauGsb1o4_wiUC0ncY" 
  color="primary" class="loginImg"><br><br>
  <ion-button color="tertiary" size="large" expand="block" class="loginBtn" href="/home">
    <b>Entrar a Pokedex</b>
  </ion-button>
  <p class="ion-text-center loginTxt">Already have an account?<ion-router-link href="/home" >
    Login
  </ion-router-link></p>

</ion-content>
