.title1 {
    padding-left: 5%;
    color:lightgrey;
}

.title2{
    padding-left: 5%;
    color:#fbb917;
}

.loginImg{
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: auto;
}

.loginBtn{
    margin: 5%;
    margin-top:75px;
    margin-bottom:30px;
}

.loginTxt{
    color:lightgrey;
}

ion-router-link{
    color:#fbb917;
}